/* styles.css */
@font-face {
    font-family: "Boots And Spurs";
    src: url("./Fonts/BootsAndSpurs\ \(1\).ttf") format("truetype");
}

body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif ;
}

h1,h2,
.logo {
    font-family: "Boots And Spurs", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-list h2 {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  }

header {
    background-color: black; /* Replace with your desired color code or name */
}

.cta { 
    background-color: red;

}

.reviews {
    background-color: grey; /* Replace with your desired color code or name */
}

.featured--products {
    background-color: #fbfbfb;
  }

  footer {
    text-align: center;
  }

  .welcome {
    background-image: url("../images/home-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    min-height: 70vh;
  }
  
  .selling-points__images {
    border-radius: 100px;
  }
  
  .review__images {
    border-radius: 50%;
  }

  .reviewbio {
    border-radius: 50%;
    height: 350px;
  }

  .reviewbio2 {
    border-radius: 50%;
    height: 350px;
  }